@use "../../styles/variables" as *;

.tabs-subtitle{
    margin: 3rem 0 1rem 0;
}

.btn-secondary.disable:hover{
    background-color: $color-black;
    cursor: auto;
}

.btn-default.disable:hover{
    background-color: $color-primary;
    color: $color-black;
    cursor: auto;
}

.exchanges-link-reviews{
    color: $color-black;

    &:hover{
        color: $color-primary;
    }
}