@use "../styles/variables" as *;

.explore {
  &-btns {
    width: 100%;
    display: flex;
    gap: $spacing-sm;
    justify-content: center;
  }
}
.btn.disabled {
  background-color: $color-gray;
  border: 1px solid $color-white;
  cursor: auto;

  &:hover {
    color: inherit;
  }
}
