@use "../styles/variables" as *;

.explore {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  & h1 {
    text-align: center;
  }

  &-results {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;

    & > article.profile-card {
      width: calc((100% - 6.4rem) / 3);
    }
  }
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    border: none;
    background-color: transparent;
    font-weight: $font-weight-bold;
  }

  &-input {
    width: 65%;
    border-radius: 1.6rem 0 0 1.6rem;
    border: 0.3rem solid $color-gray;
    border-right: none;
    padding: 1.6rem 3.2rem;
    display: flex;

    &:focus {
      outline: 0;
      border: 0.3rem solid $color-primary;
    }
  }

  &-button {
    border: 0.3rem solid $color-gray;
    border-radius: 0 1.6rem 1.6rem 0;
    border-left: none;
    height: fit-content;
    padding: 1.6rem 1.6rem;

    &:focus {
      outline: 0;
      border: 0.3rem solid $color-primary;
    }
  }
}

.categories {
  display: flex;
  gap: 3.2rem;

  &-card {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    border: 3px solid $color-gray;
    border-radius: 1.6rem;
    padding: 1.6rem;

    &-img {
      width: 3.8rem;
      stroke: 1px;
    }

    &-title {
      text-align: center;
      font-weight: $font-weight-bold;
    }

    &:hover {
      border-color: $color-black;
      cursor: pointer;
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  border: 3px solid $color-gray;
  border-radius: 1.6rem;
  gap: 1.6rem;

  &-title {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  &-info {
    font-size: $font-size-xs;
  }

  &-btns {
    display:flex;
    gap: 1.6rem;
    justify-content: flex-end;
  }
}