@use "../styles/variables" as *;

.homepage {
  &-hero-section {
    display: flex;
    align-items: center;
    margin: 3.2rem 0;
    min-height: 40rem;
    background: no-repeat center right url('img/hero-image.jpg');
  
    &-text {
      width: 65%;
  
      & p {
        width: 80%;
        font-size: $font-size-xl;
      }
    }
  }

  &-section {
    margin-top: 10rem;

    &-title {
      margin-bottom: 4.85rem;
      text-align: center;
    }
    
    &-textleft {
      display: flex;
      align-items: center;
      gap: 3.2rem;
    
      &-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        gap: 1.6rem;
      }
    }
  }
}

.profile-cards {
  display: flex;
  gap: 3.2rem;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & * {
    border: none;
    background-color: transparent;
    font-weight: $font-weight-bold;
  }

  &-input {
    width: 65%;
    border-radius: 1.6rem 0 0 1.6rem;
    border: 0.3rem solid $color-gray;
    border-right: none;
    padding: 1.6rem 3.2rem;
    display: flex;

    &:focus {
      outline: 0;
      border: 0.3rem solid $color-primary;
    }
  }

  &-button {
    border: 0.3rem solid $color-gray;
    border-radius: 0 1.6rem 1.6rem 0;
    border-left: none;
    height: fit-content;
    padding: 1.6rem 1.6rem;

    &:focus {
      outline: 0;
      border: 0.3rem solid $color-primary;
    }
  }
}

.categories {
  display: flex;
  gap: 3.2rem;

  &-card {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    border: 3px solid $color-gray;
    border-radius: 1.6rem;
    padding: 1.6rem;

    &-img {
      width: 3.8rem;
      stroke: 1px;
    }

    &-title {
      text-align: center;
      font-weight: $font-weight-bold;
    }

    &:hover {
      border-color: $color-black;
      cursor: pointer;
    }
  }
}

.testimonials {
  display: flex;
  gap: 3.2rem;

  &-card {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    align-items: center;

    &-picture {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 50%;
    }

    &-grade {
      display: flex;
    }

    &-info {
      font-size: $font-size-xs;
    }
  }
}