@use "../styles/variables" as *;

.homepage {
  &-hero {
    display: flex;
    align-items: center;
    margin: $spacing-xl 0;
    
    & img {
      order: 2;
      margin-left: -200px;
      z-index: 1;
      max-width: 50%;
    }

    &-text {
      z-index: 2;
  
      & p {
        width: 80%;
        font-size: $font-size-xl;
      }
    }
  }

  &-content-imgleft {
    flex-wrap: nowrap;
    align-items: center;

    & h1 {
      text-align:left;
    }
    
    & img {
      float: right;
    }

    & p {
      font-size: $font-size-xl;
      margin-bottom: $spacing-xl;
    }
  }
}

@media (max-width: $breakpoints-md) {
  .homepage {
    &-hero {
      flex-direction: column;
      align-items: center;
      text-align: center;

      & img {
        order: 1;
        margin-left: 0;
        max-width: 100%;
        margin-bottom: $spacing-xl;
      }

      &-text {
        order: 2;

        & p {
          width: 100%;
        }
      }
    }

    &-content-imgleft {
      flex-direction: column;
      align-items: center;
      
      & p, & h1 {
        text-align: center;
      }
  
      & img {
        width: 22rem;
        object-fit: none;
        object-position: top center;
        aspect-ratio: 1;
      }

      & button {
        margin: 0 auto;
      }
    }
  }

}