.categories {
  &-card {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-md;
    border: 3px solid $color-gray;
    border-radius: 1.6rem;
    padding: $spacing-md;
    @include transition-border;

    &-icon{
      width: 3.8rem;
      stroke: 1px;
      display: block;
      margin: 0 auto 1rem;
      color: $color-black;
    }

    &-title {
      text-align: center;
      font-weight: $font-weight-bold;
    }

    &:hover {
      border-color: $color-primary;
      cursor: pointer;
    }
  }
}
