@use "../styles/variables" as *;

.footer {
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  padding-top: $spacing-xl;
  margin-top: $spacing-2xl;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-xs;
    line-height: $line-height-tight;

    &-logo {
      width: 18.5rem;
      color: $color-white;
    }

    &-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      list-style: none;
      gap: $spacing-xl;
      
      &-element-link {
        color: $color-white;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &-copy {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid $color-white;
      padding-top: $spacing-md;
      margin-top: $spacing-2xl;
      margin-bottom: 7.8rem;
    }
  }
}

@media (max-width: $breakpoints-xl) {
  .footer {
    &-container {
      flex-direction: column;
      align-items: center;
      gap: $spacing-xl;

      &-nav {
        align-items: center;
        gap: $spacing-md;
      }
    }
  }
}

@media (max-width: $breakpoints-md) {
  .footer {
    &-container {
      &-nav {
        flex-direction: column;
      }
    }
  }
}
