.reset-password-content {
  display: grid;
  align-items: center;
}

.form {
  width: 100%;
}

.imput-reset {
  display: block;
  width: 100%;
}

.btn-password {
  margin-top: 2rem;
}

.new-password {
  margin: 5rem auto;
}

.forgot-section {
  padding: 6rem;
  border-radius: 2rem;
  border: 3px solid $color-gray;
}
