@use "../styles/variables" as *;

.post {
  display: flex;
  flex-direction: column;
  padding: $spacing-xl;
  border: 3px solid $color-gray;
  border-radius: 1.6rem;
  gap: $spacing-md;

  &-header {
    display: flex;
    gap: $spacing-md;
    
    &-arrow {
      background-color: $color-primary;
      border-radius: 0.8rem;
      padding: 0.8rem 2rem;
      align-content: center;

      &.arrow-alt {
        background-color: $color-black;
        color: $color-white;
      }
    }

    &-title {
      display: flex;
      gap: $spacing-md;
      align-items: center;
    }

    &-date {
      width: 100%;
      font-size: $font-size-xs;
    }
  }


  &-btns {
    display:flex;
    gap: $spacing-sm;
    justify-content: flex-end;
  }

  &-offer, &-author {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-gray;
    padding: $spacing-md $spacing-xl;
    border-radius: 0.8rem;
    align-items: center;

    &-userinfo {
      display: flex;
      gap: $spacing-md;

      & .star:not(.star-active) {
        fill: white;
      }

      &-picture {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &-date {
      margin-top: $spacing-sm;
      font-size: $font-size-xs;
    }

    &-btns {
      display: flex;
      gap: $spacing-sm;
    }
  }
}
