.static {
  .content {
    flex-direction: column;

    .updated-at,
    .prom {
      font-size: $font-size-xs;
      text-align: center;
    }

    a {
      font-weight: $font-weight-bold;
    }

    .team {
      display: flex;
      flex-direction: column;
      gap: $spacing-2xl;

      section {
        display: flex;
        align-items: center;
        gap: $spacing-md;

        img {
          object-fit: cover;
          border-radius: 50%;
          min-width: 15rem;
          height: 15rem;
        }

        .info {
          display: flex;
          flex-direction: column;

          .socials {
            margin-top: $spacing-md;
            display: flex;
            gap: $spacing-sm;

            svg {
              width: 1.6rem;
              height: 1.6rem;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $breakpoints-sm) {
    .content {
      .team {
        section {
          img {
            min-width: 20rem;
            height: 20rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: $breakpoints-lg) {
    .content {
      .team {
        flex-direction: row;
        section {
          flex-direction: column;
          flex: 1 1 30%;

          .info {
            align-items: center;
          }
        }
      }
    }
  }
}
